.heroSection {
    /* add a  light gradient to the hero section*/
    /* background: linear-gradient(to right,rgba(28,117,188,1), rgba(28,117,188,0.2)), url(../Assets/amria-edge-banner.jpg); */
    background: linear-gradient(to right,rgba(0,0,0,1), rgba(0,0,0,0.2)), url(../Assets/amria-edge-banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    position: relative;
}
.heroSectionSvg{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.heroText{
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(0%,-50%);
    color: #fff;
    text-align: center;
    text-align: left;
    width: 50%;
}
.heroText p{
    font-family: 'Montserrat', sans-serif;

}
.heroText h1{
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
}
.heroButton1{
    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 0;
    padding: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: inherit;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    min-width: 64px;
    padding: 6px 16px;
    border-radius: 4px;
    -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: #fff;
    background-color: #BC631C;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
    margin-left: 0 !important;
    margin-right: 20px;
}
.heroButton1:hover{
    background-color: #894915;
}
.heroButton2{
    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 0;
    padding: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: inherit;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    min-width: 64px;
    padding: 6px 16px;
    border-radius: 4px;
    -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: #fff;
    background-color: #BC631C;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
}
.heroButton2:hover{
    background-color: #894915;
}
.home_card_section{
    width: 100%;
    padding: 5rem;
}
.home_card_section_flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}
.home_card_section_flex > div{
    width: 28%;
    margin-bottom: 2rem;
}
.home_testimonials{
    width: 100%;
    padding-bottom: 5vh;
    background-color: #f5f5f5
}
.home_testimonials_innerDiv{
    width: 80%;
    margin: 0 auto;
    height: 100%;
    background-color: #f5f5f5;
}
.Swiper_Slide{
    width: 100%;
    
    padding: 5rem;
}
.slide_image_div{
    text-align: center;
}
.slide_image_div img{
    display: block;
    margin: 0 auto;
}
.section_testimonials_heading{
    width: 100%;
}
.how_Amrita_edge_helps_you{
    width: 100%;
}
.how_Amrita_edge_helps_you_inner_div{
    display: flex;
    width: 80%;
    margin: 0 auto;
}
.how_Amrita_edge_helps_you_left_div{
    text-align: left;
    flex: 1 1 50%;
     min-width: 250px;
}
.how_Amrita_edge_helps_you_left_div p{
    text-align: justify;
    font-family: 'Montserrat';
    line-height: 1.8rem;
    opacity: 0.8;
    word-wrap: break-word;
}
.how_Amrita_edge_helps_you_right_div{
    flex: 1 1 40%;
}
.how_Amrita_edge_helps_you_right_div img{
    height: 100%;
    object-fit: cover;
}
.how_Amrita_edge_helps_you_right_div img{
    width: 100%;
}