.home_card_section{
    width: 100%;
    padding: 5rem;
}
.home_card_section_flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}
.home_card_section_flex > div{
  flex: 1 1 25em;
  margin: 1em;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

 .cardContent::-webkit-scrollbar {
    width: 2px;
    height: 5px;
  }
  .cardContent{
    max-height: 200px !important;
    overflow-y: scroll !important;
  }
  .home_card_section_flex div img{
    object-fit: contain;
  }