.mainFooter_div{
    background-color: #000;
    color: #fff;
    text-align: left;
    padding-top: 5vh;
    padding-bottom: 5vh;
    bottom: 0;

}
.mainFooter_div_Flex{
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
    height: 100%;
    border-bottom: 1px solid grey;
}
.mainFooter_div_Flex_1{
    width: 30%;
    text-align: justify;
}
.mainFooter_div_Flex_2{
    width: 30%;
}
.mainFooter_div_Flex_3{
    width: 30%;
}
.mainFooter_div p{
    font-size: 1rem;
    font-family: 'montserrat', sans-serif;
    opacity: 0.8;
}
.mainFooter_div h3{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-family: 'Source Sans Pro', sans-serif;
}
.Footer_logo_div{
   text-align: center;
   width: 100%;
   margin: 1rem auto;
   margin-top: 0;
}
.Footer_logo_div img{
    margin: 0 auto;
}
.socialMedialogs{
display: flex;
width: 80%;
justify-content:space-between;
}
/* media query */
@media (max-width: 768px) {
    .mainFooter_div_Flex{
        flex-direction: column;
        width: 100%;
    }
    .mainFooter_div_Flex_1{
        width: 100%;
        margin-bottom: 1rem;
    }
    .mainFooter_div_Flex_2{
        width: 100%;
        margin-bottom: 1rem;
    }
    .mainFooter_div_Flex_3{
        width: 100%;
        margin-bottom: 1rem;
    }
    .Footer_logo_div{
        margin-top: 1rem;
    }
    .socialMedialogs{
        width: 100%;
        justify-content: space-around;
    }
}
